* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.typingBody {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1E0555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1E0555;
}

.App {
  max-width: 700px;
  width: 90%;
  text-align: center;
  padding: 2rem;
  background-color: #F0DB4F;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer {
  font-size: 3rem;
  font-weight: bold;
  color: #F0DB4F;
  margin-bottom: 1rem;
}

.control {
  margin-bottom: 1rem;
}

.input {
  background-color: transparent;
  border: 2px solid #A1922E;
  outline: none;
  width: 100%;
  height: 4rem;
  resize: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.button {
  background-color: #1E0555;
  color: #F0DB4F;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #3C0C89;
}

.card {
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: left;
  margin-bottom: 1rem;
}

.hasBackgroundSuccess {
  background-color: #8EEB8E;
}

.hasBackgroundCompleted{
  color: #8EEB8E;
}

.hasBackgroundDanger {
  background-color: #FF8A8A;
}

.hasTextPrimary {
  color: #1E0555;
}

.hasTextInfo {
  color: #007BFF;
}

.hasTextCentered {
  text-align: center;
}

.hasTextPrimary.isSize1,
.hasTextInfo.isSize1 {
  font-size: 3rem;
}

.hasTextPrimary.isSize5,
.hasTextInfo.isSize5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.column {
  flex: 1;
}

.columns {
  display: flex;
}