/* Inside Multi.module.css */

.userListContainer {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align children horizontally */
}

.userListContainer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.userListContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align list items horizontally */
}

.userListContainer li {
  font-size: 16px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.leaveButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.leaveButton:hover {
  background-color: #ff3b21;
}
